* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background: rgb(154,183,208);
  background: linear-gradient(10deg, rgba(154,183,208,1) 0%, rgba(245,210,211,1) 59%, rgba(223,204,240,1) 100%);
}

/* Main title */
/* Titles of the sections */
/**
  font-family: 'Reenie Beanie', cursive;
*/

h1, h2, h3, p {
  text-align: center;
  font-family: 'Kalam', cursive; 
}

h1 {
  line-height: 3em;
}

h3 {
  font-family: 'Mali', cursive;
}

p {
  font-family: 'Reenie Beanie', cursive;
  font-size: 1.5em;
}


.board {
  border-style: solid;
  border-radius: 10px;
  border-color: #a6a6a6;
  height: calc(100vh - 8em);
  margin: 1em;
}

.section {
  border-right: dashed #bfbfbf;
}